@media only screen and (max-width: 768px) {
  html {
    max-width: 768px;
    width: 100%;
  }

  body {
    max-width: 768px;
    width: 100%;
  }

  img {
    width: 100px;
  }

  h5 {
    font-size: 0.6rem;
  }

  .board {
    margin-left: 0;
    padding-left: 0;
  }

  .container {
    max-width: 768px;
  }

  .background {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url("/../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid grey;
  }

  .navbar-header {
    max-width: 768px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px;
  }

  #logo {
    width: 100%;
    margin-left: 0;
  }

  #logo2 {
    margin-left: 42%;
    margin-top: 3%;
  }

  .container h2 {
    margin: 0 auto;
  }

  .row {
    max-width: 768px;
    width: 100%;
  }

  .oneToFive {
    display: grid;
    grid-template-columns:11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 90px;
    grid-auto-flow:dense;
  }

  .reverse {
    display: grid;
    grid-template-columns:11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 90px;
    grid-auto-flow:dense;
  }

  .one {
    grid-column-end: 10;
  }

  .two {
    grid-column-end: 9;
  }

  .three {
    grid-column-end: 8;
  }

  .four {
    grid-column-end: 7;
  }

  .five {
    grid-column-end: 6;
  }

  .six {
    grid-column-end: 5;
  }

  .seven {
    grid-column-end: 4;
  }
  .eight {
    grid-column-end: 3;
  }
  .nine {
    grid-column-end: 2;
  }

  .square {
    border: 1px solid black;
    position: relative;
    background: grey;
  }

  #diceContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 410px;
    left: 30px;
    border: 1px solid black;
    text-align: center;
    background: #124449;
    color: #1e1e1e;

  }

  #players {
    color: #fdfdfd;
    margin-left: 5%;
    margin-bottom: 10%;
  }

  #players p:first-child {
    margin-top: 10%;
  }

  #players p:last-child {
    margin-bottom: 20%;
  }

  .token {
    width: 20px;
  }

  .token2 {
    width: 20px;
  }

  .firstSingle {
    display: grid;
    grid-template-areas: ". . . . . . . . singleSquare";
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 90px;
  }

  .singleSquare {
    border: 1px solid black;
    grid-area: singleSquare;
  }

  .secondSingle {
    display: grid;
    grid-template-areas: "singleSquare . . . . . . . .";
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 90px;
  }

  .eventSquareFive {
    display: none;
  }

  /*#dragonEvent {
    width: 400px;
  }*/

  /* EVENTS */
  #dragonEvent {
    width: 100%;
    height: 81%;
  }

  .closeEvent {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fdfdfd;
  }

  .closeEvent:hover {
    cursor: pointer;
  }

  .event6 {
    background-image: url("../images/dragon.jpg");
    background-size: cover;
  }

  .event11 {
    background-image: url("../images/sword.jpg");
    background-size: cover;
  }

  .event17 {
    background-image: url("../images/bridge.jpg");
    background-size: cover;
  }

  .event20 {
    background-image: url("../images/trail.jpg");
    background-size: cover;
  }

  .event22 {
    background-image: url("../images/hide.jpg");
    background-size: cover;
  }

  .eventSquare {
    background: #124449;
    width: 90%;
    height: 300px;
    z-index: 100;
    position: absolute;
  }

  .eventSquareFive {
    left: 5%;
    top: 60%;
    display: none;
  }

  .eventSquareEleven {
    left: 5%;
    top: 60%;
    display: none;
  }

  .eventSquareSeventeen {
    left: 5%;
    top: 60%;
    display: none;
  }

  .eventSquareTwenty {
    left: 5%;
    top: 60%;
    display: none;
  }

  .eventSquareTwentytwo {
    left: 5%;
    top: 60%;
    display: none;
  }

  .closeEvent {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fdfdfd;
  }


  /* WIN PAGE */
  .contgratulations {
    width: 100%;
    height: 400px;
  }

  #animatedPokal {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 25%;
  }

  .winH1 {
    text-align: center;
    font-size: 2em;
  }

  #congratAnim {
    font-size: 1.5rem;
  }

  #border {
    border: 4px solid grey;
    padding-bottom: 20px;
    background: #1e1e1e;
  }
}

@media only screen and (max-width: 480px) {


}
