@media only screen and (max-width: 1200px) {
  #playerContainer {
    max-width: 1200px;
    width: 100%;
  }

  .row {
    max-width: 1200px;
    width: 100%;
  }

  .card {
    width: 14rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }

  header {
    margin-bottom: 0;
  }

  #playerContainer {
    max-width: 768px;
  }

  .row {
    max-width: 768px;
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  .card {
    width: 18rem;
  }

  .container h2 {
    margin: 0 auto;
  }

  div.container-fluid .container:first-of-type {
    margin-left: 5%;
  }

  .col-sm-3 {
    max-width: 60%;
  }

  .playNow {
    margin-top: 5%;
    margin-bottom: 120px;
  }

  .playNow p {
    margin-left: 5%;
  }

  #playButton {
    left: 0;
    width: 288px;
    height: 70px;
    margin-left: 5%;
    top: 90px;
    margin-bottom: 10px;
  }

  #choiceInfo {
    left: 25%;
  }

  #choiceInfo p {
    margin-top: 10%;
  }

  .alert {
    left: 25%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }

  #playerContainer {
    max-width: 480px;
  }

  .row {
    align-self: baseline;
    justify-content: flex-start;
    margin-left: 0;
  }

  header {
    margin-bottom: 0;
  }

  .navbar-header {
    max-width: 480px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px;
  }

  #logo {
    width: 100%;
    margin-left: 0;
    margin-top: 15%;
  }

  #logo2 {
    margin-left: 33%;
    margin-top: 5%;
  }

  .container {
    max-width: 480px;
  }

  .container h2 {
    margin: 0 auto;
    font-size: 1.6em;
    margin-bottom: 5%;
  }

  .row {
    max-width: 480px;
    width: 100%;
  }

  .playNow {
    margin-bottom: 120px;
  }

  .playNow p {
    margin-bottom: 1%;
  }

  #playButton {
    left: 0;
    width: 288px;
    height: 50px;
    margin-left: 5%;
    top: 90px;
    margin-bottom: 10px;
    font-size: 1.6em;
  }

  #choiceInfo {
    left: 3.5%;
    top: 55%;
  }

  .alert {
    width: 320px;
    left: 7%;
  }

  div.alert h4 {
    text-align: center;
  }

}
