@media only screen and (max-width: 1200px) {

}


@media only screen and (max-width: 480px) {
  .navbar-header {
    max-width: 480px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px;
  }

  #logo {
    width: 100%;
    margin-left: 0;
  }

  #logo2 {
    margin: 0 auto;
    margin-top: 5%;
  }

  .container {
    max-width: 480px;
  }

  .container h2 {
    margin: 0 auto;
  }

  .row {
    max-width: 480px;
    width: 100%;
  }

  .playNow {
    margin-top: 10px;
    margin-bottom: 190px;
  }

  #playButton {
    left: 0;
    width: 300px;
    top: 90px;
    margin-bottom: 10px;
  }

  .alert {
    width: 320px;
    left: 5%;
  }

}
