nav {
  background: #1e1e1e; }

html {
  background: #1e1e1e; }

body {
  background: #1e1e1e; }

h1 {
  color: white; }

h2 {
  color: #fdfdfd; }

h3 {
  color: #fdfdfd; }

h4 {
  color: #fdfdfd; }

h5 {
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 0;
  color: #fdfdfd; }

.row {
  width: 1200px; }

.navbar-header {
  display: grid;
  width: 800px;
  grid-template-columns: 10% 90%; }

#logo {
  width: 500px;
  margin-left: 40px;
  margin-top: 5%; }

#logo2 {
  width: 100px; }

.card-font {
  font-size: 22px;
  color: #1e1e1e;
  text-align: center; }

img {
  width: 250px; }

.card {
  width: 18rem;
  position: relative; }

.characterCard {
  margin-top: 2%;
  margin-bottom: 5%; }

.cardChosen {
  background: green;
  opacity: 0.5; }

.card:hover {
  cursor: pointer;
  background: green;
  opacity: 0.5; }

.characters {
  width: 50px;
  margin-left: 33%; }

.third {
  width: 70px; }

.imageBox {
  width: 100%;
  height: 100px; }

.container {
  max-width: 1200px; }

.playNow {
  position: relative;
  color: #fdfdfd; }

#playButton {
  position: absolute;
  right: 0;
  top: 260px;
  width: 350px;
  height: 100px;
  border: none;
  font-size: 36px; }

#playButton:hover {
  cursor: pointer; }

.unactive {
  background: grey;
  color: white; }

.active {
  background: green;
  color: white; }

/* WIN PAGE */
.contgratulations {
  width: 1200px;
  height: 800px;
  background: #124449; }

@media only screen and (max-width: 480px) {
  html {
    max-width: 480px;
    width: 100%; }

  body {
    max-width: 480px;
    width: 100%; }

  img {
    width: 100px; }

  h5 {
    font-size: 0.6rem; }

  .board {
    margin-left: 0;
    padding-left: 0; }

  .container {
    max-width: 480px; }

  .navbar-header {
    max-width: 480px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px; }

  #logo {
    width: 100%;
    margin-left: 0; }

  #logo2 {
    margin-left: 33%;
    margin-top: 5%; }

  .container h2 {
    margin: 0 auto; }

  .row {
    max-width: 480px;
    width: 100%; }

  .oneToFive {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 80px;
    grid-auto-flow: dense; }

  .reverse {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 80px;
    grid-auto-flow: dense; }

  .one {
    grid-column-end: 10; }

  .two {
    grid-column-end: 9; }

  .three {
    grid-column-end: 8; }

  .four {
    grid-column-end: 7; }

  .five {
    grid-column-end: 6; }

  .six {
    grid-column-end: 5; }

  .seven {
    grid-column-end: 4; }

  .eight {
    grid-column-end: 3; }

  .nine {
    grid-column-end: 2; }

  .square {
    border: 1px solid black;
    position: relative; }

  #diceContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 410px;
    left: 30px;
    border: 1px solid black;
    text-align: center;
    background: #124449;
    color: #1e1e1e; }

  #players {
    color: #fdfdfd;
    margin-left: 5%;
    margin-bottom: 40%; }

  #players p:first-child {
    margin-top: 10%; }

  #players p:last-child {
    margin-bottom: 20%; }

  .token {
    width: 20px; }

  .token2 {
    width: 20px; }

  .firstSingle {
    display: grid;
    grid-template-areas: ". . . . . . . . singleSquare";
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 80px; }

  .singleSquare {
    border: 1px solid black;
    grid-area: singleSquare; }

  .secondSingle {
    display: grid;
    grid-template-areas: "singleSquare . . . . . . . .";
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 80px; }

  .eventSquareFive {
    display: none; }

  /*#dragonEvent {
    width: 400px;
  }*/
  /* EVENTS */
  #dragonEvent {
    width: 100%;
    height: 81%; }

  .closeEvent {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fdfdfd; }

  .closeEvent:hover {
    cursor: pointer; }

  .event6 {
    background-image: url("../images/dragon.jpg");
    background-size: cover; }

  .event11 {
    background-image: url("../images/sword.jpg");
    background-size: cover; }

  .event17 {
    background-image: url("../images/bridge.jpg");
    background-size: cover; }

  .event20 {
    background-image: url("../images/trail.jpg");
    background-size: cover; }

  .event22 {
    background-image: url("../images/hide.jpg");
    background-size: cover; }

  .eventSquare {
    background: #124449;
    width: 90%;
    height: 300px;
    z-index: 100;
    position: absolute; }

  .eventSquareFive {
    left: 5%;
    top: 60%;
    display: none; }

  .eventSquareEleven {
    left: 5%;
    top: 60%;
    display: none; }

  .eventSquareSeventeen {
    left: 5%;
    top: 60%;
    display: none; }

  .eventSquareTwenty {
    left: 5%;
    top: 60%;
    display: none; }

  .eventSquareTwentytwo {
    left: 5%;
    top: 60%;
    display: none; }

  .closeEvent {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fdfdfd; } }
@media screen and (min-width: 981px) {
  .board {
    margin-left: 20%;
    margin-top: 0;
    padding-bottom: 2%;
    max-width: 60%; }

  .square {
    background: #8e98a0; }

  .background {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url("/../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid grey; }

  .background2 {
    background-image: url("/../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover; }

  .oneToFive {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 80px;
    grid-auto-flow: dense; }

  .oneToFive {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 80px;
    grid-auto-flow: dense; }

  .one {
    grid-column-end: 9; }

  .two {
    grid-column-end: 8; }

  .three {
    grid-column-end: 7; }

  .four {
    grid-column-end: 6; }

  .five {
    grid-column-end: 5; }

  .six {
    grid-column-end: 4; }

  .seven {
    grid-column-end: 3; }

  .eight {
    grid-column-end: 2; }

  .nine {
    grid-column-end: 1; }

  .square {
    border: 1px solid black;
    position: relative; }

  .firstSingle {
    display: grid;
    grid-template-areas: ". . . . . . . . singleSquare";
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 80px; }

  .singleSquare {
    border: 1px solid black;
    grid-area: singleSquare; }

  .secondSingle {
    display: grid;
    grid-template-areas: "singleSquare . . . .";
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: 80px; }

  #diceContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 100px;
    border: 1px solid black;
    text-align: center;
    background: #124449;
    color: #1e1e1e; }

  #diceContainer:hover {
    cursor: pointer;
    background: green;
    color: white; }

  #diceContainer img {
    width: 100px; }

  #diceContainer h3 {
    padding-top: 15px; }

  #players {
    position: absolute;
    top: 200px;
    left: 100px; }

  #currentPlayer {
    margin-bottom: 0;
    padding-bottom: 0.1%;
    color: #1e1e1e; }

  .start {
    background: #124449; }

  .finish {
    background: #124449; }

  .token {
    width: 30px;
    z-index: 100; }

  .token2 {
    width: 30px;
    z-index: 100; }

  /* EVENTS */
  .eventSquare {
    background: #124449;
    width: 500px;
    height: 400px;
    z-index: 100;
    position: absolute; }

  .eventSquare p {
    color: #fdfdfd;
    margin-left: 2%; }

  .eventSquare h4 {
    margin-left: 2%; }

  .eventSquareFive {
    left: 33%;
    top: 30%;
    display: none; }

  .eventSquareEleven {
    left: 33%;
    top: 30%;
    display: none; }

  .eventSquareSeventeen {
    left: 43%;
    top: 30%;
    display: none; }

  .eventSquareTwenty {
    left: 33%;
    top: 30%;
    display: none; }

  .eventSquareTwentytwo {
    left: 33%;
    top: 30%;
    display: none; }

  #dragonEvent {
    width: 100%;
    height: 81%; }

  .closeEvent {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fdfdfd; }

  .closeEvent:hover {
    cursor: pointer; }

  .closeEventEleven:hover {
    cursor: pointer; }

  .closeEventSeventeen {
    cursor: pointer; }

  .closeEventTwenty {
    cursor: pointer; }

  .closeEventTwentytwo {
    cursor: pointer; }

  .event6 {
    background-image: url("../images/dragon.jpg");
    background-size: cover; }

  .event11 {
    background-image: url("../images/sword.jpg");
    background-size: cover; }

  .event17 {
    background-image: url("../images/bridge.jpg");
    background-size: cover; }

  .event20 {
    background-image: url("../images/trail.jpg");
    background-size: cover; }

  .event22 {
    background-image: url("../images/hide.jpg");
    background-size: cover; } }

/*# sourceMappingURL=boardgame.css.map */
