@import "partials/header";
@import "partials/layout";
@import "partials/media";

.board {
  margin-left: 25%;
}

.oneToFive {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 100px;
}

.square {
  border: 1px solid black;
  position: relative;
}

.firstSingle {
  display: grid;
  grid-template-areas: ". . . . . . . . singleSquare";
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 100px;
}

.singleSquare {
  border: 1px solid black;
  grid-area: singleSquare;
}

.secondSingle {
  display: grid;
  grid-template-areas: "singleSquare . . . .";
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-template-rows: 100px;
}

#diceContainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 100px;
  border: 1px solid black;
  text-align: center;
}

#diceContainer img {
  width: 100px;
}

#diceContainer h3 {
  padding-top: 15px;
}

#players {
  position: absolute;
  top: 300px;
  left: 100px;
}

#currentPlayer {

}

.token {
  width: 80px;
}
